<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Product 1</td>
            <td>A brief description of Product 1.</td>
            <td>RWF</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Product 2</td>
            <td>A brief description of Product 2.</td>
            <td>RWF</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Product 3</td>
            <td>A brief description of Product 3.</td>
            <td>RWF</td>
            <td>5</td>
        </tr>
    </tbody>
</table>
