<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>Products</h1>
    <ul>
        {% for entry in entries %}
        <li>
            <h2>{{ entry['fields']['name'] }}</h2>
            <p>{{ entry['fields']['description_text'] }}</p>
            {% if entry['fields']['image_url'] %}
            <img src="{{ entry['fields']['image_url'] }}" alt="{{ entry['fields']['name'] }}">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>

</html>